<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	    rel="stylesheet"
	    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	    crossorigin="anonymous">
	<style>
	        button {
	            width: 120px;
	            height: 120px;
	            font-size: 24px;
	            margin: 5px;
	        }
	        .button-row {
	            display: flex;
	        }
			#inputField{
				margin-left: 15px;
				width: 500px;
				height: 120px;
				font-size: 48px;
			}
	</style>
</head>
<body>

		<input type="text" id="inputField" class="form-control" >
		<div class="button-row">
		    <button type="button" class="btn btn-primary" onclick="addNumber(1)">1</button>
		    <button type="button" class="btn btn-primary" onclick="addNumber(2)">2</button>
		    <button type="button" class="btn btn-primary" onclick="addNumber(3)">3</button>
			<button type="button" class="btn btn-secondary" onclick="addOperator('+')">+</button>
		</div>
		<div class="button-row">
		    <button type="button" class="btn btn-primary" onclick="addNumber(4)">4</button>
		    <button type="button" class="btn btn-primary" onclick="addNumber(5)">5</button>
		    <button type="button" class="btn btn-primary" onclick="addNumber(6)">6</button>
			<button type="button" class="btn btn-secondary" onclick="addOperator('-')">-</button>
		</div>
		<div class="button-row">
		    <button type="button" class="btn btn-primary" onclick="addNumber(7)">7</button>
		    <button type="button" class="btn btn-primary" onclick="addNumber(8)">8</button>
		    <button type="button" class="btn btn-primary" onclick="addNumber(9)">9</button>
			<button type="button" class="btn btn-secondary" onclick="addOperator('*')">*</button>
		</div>
		<div class="button-row">
		    <button type="button" class="btn btn-success" onclick="submitForm()">Submit</button>
			<button type="button" class="btn btn-primary" onclick="addNumber(0)">0</button>
			<button type="reset" class="btn btn-danger">Reset</button>
			<button type="button" class="btn btn-secondary" onclick="addOperator('/')">/</button>
		</div>
	
	
	<script>
		let params = [];
		
		function encodeOperator(operator) {
			if (operator === "+") {
				return "%2B"
			} else if (operator === "/") {
				return "%2F"
			} else if (operator === "*") {
				return "%2A"
			} else {
				return operator
			}
		}
		
		function addOperator(operator) {
			let inputField = document.getElementById("inputField");
			params.push(inputField.value);
			encodedOperator = encodeOperator(operator)
			params.push(encodedOperator);
			inputField.value = "";
		}
	    function addNumber(number) {
	        let inputField = document.getElementById("inputField");
	        inputField.value += number;
	    }
	    async function submitForm() {
	        let inputField = document.getElementById("inputField");
			params.push(inputField.value);
	    	console.log(params);
			let url = "http://localhost:8080/calculateJSON";
			console.log(url);
			let queryString = "?operand1=" + params[0] + "&operand2=" + params[2] + "&operation=" + params[1]
			console.log(queryString)
			await fetch(url + queryString)
			    .then(response => {
			        if (!response.ok) {
			            throw new Error('Network response was not ok');
			        }
					console.log('response success');
			        return response.text();
			    })
			    .then(text => {
			        console.log('Response:', text);
					inputField.value = text;
					// reset params
					params = []
			        
			    })
			    .catch(error => {
			        console.error('There was a problem with the fetch operation:', error); // Handle errors here
			    });

	    }
		
	</script>
</body>
</html>